<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="category top-content">
            <h2></h2>
        </div>
        <div class="bottom-content">
            <div class="developer">
                <h3 class="dev-title">Sort by Developer:</h3>
                <nav>
                    <ul>
                        <% for(const dev of developers){ %>
                            <li class="dev-list"><a href="/search/dev/?dev=<%= dev %>"><%= dev %></a></li>
                        <%}%>
                    </ul>
                </nav>
            </div>
            <div class="genre">
                <h3 class="genre-title">Sort by Genre:</h3>
                <nav>
                    <ul>
                        <% for(const genre of genres){ %>
                            <li class="genre-list"><a href="/search/genre/?genre=<%= genre %>" ><%= genre %></a></li>
                        <%}%>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>