<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="details-wrapper">
            <div class="game-wrapper">
                <div class="image-wrapper">
                    <img class="game-image" src=<%= image %> alt="game cover" onerror="this.style.opacity = '0'" srcset="">
                    <div class="cover-title"><%= title %></div>
                </div>
                <h2 class="game-title"><%= title %></h2>
                <div class="game-developers">Developed by: <%=developers.join(", ") %></div>
                <div class="game-description"><%= description %></div>
                <div class="game-genre">Genres: <%=genre.join(", ") %></div>
                <div class="game-edit">
                <a href="<%=`/edit/${id}`%>" class="edit-link">Edit</a>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>