<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="edit-index">
        <form class="edit-form" action="/edit" method="POST" onsubmit="return confirm('Are you sure you want to submit this form?');">
            <h2 class="edit-title">Editing: <%= title  %></h2>
            <label class="edit-label" for="id">ID (Read Only):</label>
            <input class="edit-input read-only-input" type="text" id="game_id" name="game_id" value="<%= id %>" readonly>
            <label class="edit-label" for="title">Game Title:</label>
            <input class="edit-input" type="text" id="title" name="title" value="<%=title %>" autocomplete="off" required>
            <label class="edit-label" for="description">Description:</label>
            <textarea class="edit-input" type="text" id="description" name="description" autocomplete="off" required><%=description %></textarea>
            <label class="edit-label" for="developers">Developers (maximum 3):</label>
            <input class="edit-input" type="text" id="developers" name="developers" value="<%=developers[0] %>" autocomplete="off" required>
            <input class="edit-input" type="text" id="developers" name="developers" value="<%=developers[1] %>" autocomplete="off">
            <input class="edit-input" type="text" id="developers" name="developers" value="<%=developers[2] %>" autocomplete="off">
            <label class="edit-label" for="developers">Genres (maximum 3):</label>
            <input class="edit-input" type="text" id="genres" name="genres" value="<%=genres[0] %>" autocomplete="off" required>
            <input class="edit-input" type="text" id="genres" name="genres" value="<%=genres[1] %>" autocomplete="off">
            <input class="edit-input" type="text" id="genres" name="genres" value="<%=genres[2] %>" autocomplete="off">
            <label class="edit-label" for="price">Enter Price (USD $):</label>
            <input class="edit-input" type="number" id="price" name="price" min="0" step="0.01" placeholder="0.00" required>
            <label class="edit-label" for="quantity">Enter Quantity:</label>
            <input  class="edit-input" type="number" id="quantity" name="quantity" min="0" placeholder="0" required>
            <div class="edit-btn-wrapper">
                <button class="edit-submit-btn" type="submit">Submit</button>
            </div>
        </form>
    </main>
    <footer></footer>
</body>
</html>