<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="all-games">
        <div class="show-all-games">
            <% for(let i = 0; i < games.length; i+=1) { %>
                <div class="game" id=<%=`${id[i]}`%>>
                    <a href=<%=`/games/${id[i]}`%>>
                        <div class="cover-title"><%= games[i] %></div>
                        <img src=<%= images[i]%> onerror='this.style.opacity = "0.0"' alt='game cover' srcset="">
                    </a>
                </div>
            <%}%>
            <div class="game" id='1'>
                <a href='/games/1'>
                    <img src='../images/overwatch2.jpg' alt="overwatch 2 cover" srcset="">
                </a>
            </div>
            <div class="game" id='1'>
                <a href='/games/1'>
                    <img src='../images/overwatch2.jpg' alt="overwatch 2 cover" srcset="">
                </a>
            </div>
            <div class="game" id='1'>
                <a href='/games/1'>
                    <img src='../images/overwatch2.jpg' alt="overwatch 2 cover" srcset="">
                </a>
            </div>
            <div class="game" id='1'>
                <a href='/games/1'>
                    <img src='../images/overwatch2.jpg' alt="overwatch 2 cover" srcset="">
                </a>
            </div>
            <div class="game" id='1'>
                <a href='/games/1'>
                    <img src='../images/overwatch2.jpg' alt="overwatch 2 cover" srcset="">
                </a>
            </div>
            <div class="game" id='1'>
                <a href='/games/1'>
                    <img src='../images/overwatch2.jpg' alt="overwatch 2 cover" srcset="">
                </a>
            </div>
            <div class="game" id='2'>
                <a href='/games/2'>
                    <img src='../images/callofdutyblackops6.jpg' alt="call of duty 6 cover" srcset="">
                </a>
            </div>
            <div class="game" id='2'>
                <a href='/games/2'>
                    <img src='../images/callofdutyblackops6.jpg' alt="call of duty 6 cover" srcset="">
                </a>
            </div>
            <div class="game" id='2'>
                <a href='/games/2'>
                    <img src='../images/callofdutyblackops6.jpg' alt="call of duty 6 cover" srcset="">
                </a>
            </div>
            <div class="game" id='2'>
                <a href='/games/2'>
                    <img src='../images/callofdutyblackops6.jpg' alt="call of duty 6 cover" srcset="">
                </a>
            </div>
            <div class="game" id='2'>
                <a href='/games/2'>
                    <img src='../images/callofdutyblackops6.jpg' alt="call of duty 6 cover" srcset="">
                </a>
            </div>
            <div class="game" id='1'>
                <a href='/games/1'>
                    <img src='../images/overwatch2.jpg' alt="overwatch 2 cover" srcset="">
                </a>
            </div>
            <div class="game" id='1'>
                <a href='/games/1'>
                    <img src='../images/overwatch2.jpg' alt="overwatch 2 cover" srcset="">
                </a>
            </div>
            <div class="game" id='1'>
                <a href='/games/1'>
                    <img src='../images/overwatch2.jpg' alt="overwatch 2 cover" srcset="">
                </a>
            </div>
            <div class="game" id='1'>
                <a href='/games/1'>
                    <img src='../images/overwatch2.jpg' alt="overwatch 2 cover" srcset="">
                </a>
            </div>
            <div class="game" id='1'>
                <a href='/games/1'>
                    <img src='../images/overwatch2.jpg' alt="overwatch 2 cover" srcset="">
                </a>
            </div>
            <div class="game" id='1'>
                <a href='/games/1'>
                    <img src='../images/overwatch2.jpg' alt="overwatch 2 cover" srcset="">
                </a>
            </div>
            <div class="game" id='1'>
                <a href='/games/1'>
                    <img src='../images/overwatch2.jpg' alt="overwatch 2 cover" srcset="">
                </a>
            </div>
            <div class="game new" id='0'>
                <a href='/new'>
                    <img class="image-add" src='../images/add.svg' alt="add cover" srcset="">
                </a>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>