<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header-search.ejs') %>
    <main class="all-games">
        <div class="search-result">Search results for:<p class="search-term">&nbsp;<%= query %></p></div>
        <div class="show-all-games">
            <% for(let i = 0; i < games.length; i+=1) { %>
                <div class="game" id=<%=`${id[i]}`%>>
                    <a href=<%=`/games/${id[i]}`%>>
                        <div class="cover-title"><%= games[i] %></div>
                        <img class="image-cover" src=<%= `/images/${games[i].toLowerCase().replaceAll(/[^a-zA-Z0-9]/g, '')}.jpg`%> onerror='this.style.opacity = "0.0"' alt="game cover" srcset="">
                    </a>
                </div>
            <%}%>
        </div>
    </main>
    <footer></footer>
</body>
</html>